<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccnu.mobilebank.mapper.AccountMapper">
    <update id="updateBalance" parameterType="com.ccnu.mobilebank.pojo.Account">
        update
            account
        set
            balance = #{balance}
        where id = #{id}
    </update>

    <select id="getAccountById" parameterType="java.lang.Integer" resultType="com.ccnu.mobilebank.pojo.Account">
        select * from account where id = #{id}
    </select>

    <select id="getPersonIdByAccountId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select personId from account where id = #{id}
    </select>
    <select id="getAccountIdsByPersonId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select id from account where personId = #{userPersonId}
    </select>

    <select id="getAccountByAccountName" parameterType="java.lang.String" resultType="com.ccnu.mobilebank.pojo.Account">
        select * from account where accountName = #{accountName}
    </select>

    <select id="getAccountNameById" parameterType="java.lang.Integer" resultType="java.lang.String">
        select accountName from account where id = #{accountId}
    </select>

</mapper>
