<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccnu.mobilebank.mapper.MobileMapper">

    <select id="getMobileByTel" parameterType="java.lang.String" resultType="com.ccnu.mobilebank.pojo.Mobile">
        select * from mobile where telephone = #{telephone}
    </select>

    <insert id="addMobile" parameterType="com.ccnu.mobilebank.pojo.Mobile">
        insert into
            mobile(
                   telephone,
                   password,
                   isDelete
        )values(
                #{telephone},
                #{password},
                #{isDelete}
                )
    </insert>

    <update id="updateMobilePassword" parameterType="com.ccnu.mobilebank.pojo.Mobile">
        update
            mobile
        set
            password = #{password}
        where
            telephone = #{telephone}
    </update>

</mapper>
