<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccnu.mobilebank.mapper.TransrecordMapper">
    <select id="getPeriodIncome" resultType="java.math.BigDecimal">
        select
               SUM(money)
        from
             transrecord
        where
              otherId = #{accountId}
          and updateTime between #{start} and #{end}
          and isDelete = 0
    </select>

    <select id="getPeriodOutcome" resultType="java.math.BigDecimal">
        select
            SUM(money)
        from
            transrecord
        where
            accountId = #{accountId}
          and updateTime between #{start} and #{end}
          and isDelete = 0
    </select>

    <select id="getTransrecordsByAccountId" resultType="com.example.model.Transrecord">
        SELECT *
        FROM transrecord
        WHERE (accountId = #{accountId} OR otherId = #{accountId})
          AND isDelete = 0
        ORDER BY updateTime DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <insert id="insertTransRecord" parameterType="com.ccnu.mobilebank.pojo.Transrecord">
        insert into
            transrecord(
                accountId,
                otherId,
                money,
                transDate,
                transtypeId,
                isDelete
            )values(
                #{accountId},
                #{otherId},
                #{money},
                #{transDate},
                #{transtypeId},
                #{isDelete}
                )
    </insert>

</mapper>
